---
import type { ImgAttributes } from 'astro:assets';

interface Props {
	logo: string;
	user: string;
	href: string;
}

const { logo, href, user } = Astro.props;
---

<div class="body">
    <li class="link-card">
    	<a href={href}>
    		<img src={logo} alt="Logo linkedin" class="logo">
            <h2>
    			{user}
    			<!-- <span>&rarr;</span> -->
    		</h2>
    	</a>
    </li>
</div>
<style>
    .body{
        width: 150px;
        height: 150px;
        /* padding: calc(1.5rem - 1px); */
        /* display: flex; */
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

	.link-card {
        width: 100%;
        height: 100%;
        text-align: bottom;
        align-items: bottom;
        /* list-style: none; */
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
        height: 100%;
		text-decoration: none;
        padding: 0;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
	.logo{
        padding: 0;
		width: 4em;
	}
</style>
