---
import Contact from "./Contact.astro"
---

<section class="body">
    <div>
        <div class="apartado">
            <Contact
                title='Contacto'
            />       
        </div>
    </div>
</section>

<style>
    .body{
        background-color: rgb(255, 89, 0);
		border-radius: 2em;
    }


</style>