---
import Index from '../../pages/index.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---


<section class="body">
	<div class="subtitle"><h2>> {title}</h2></div>
	<div class="text">
		<!-- <div class="logo"><img src="../../public/img/document 2.jpeg" alt=""></div> -->
		<ul class="caracteristicas">
			<li>
				<p>Ingeniería del Software</p>
			</li>
			<li>
				<p>Universidad Rey Juan Carlos</p>
			</li>
			<li>
				<p>Madrid, España</p>
			</li>
		</ul>
		<p>Mi nombre es Hugo Sánchez Torres y actualmente soy estudiante de la Universidad Rey Juan Carlos.</p>
		<p>Este es mi proyecto de portfolio que tiene como objetivo presentarme a mí mismo y mi trabajo. Me considero una persona apasionada de aprender, con capacidad colaborativa y resolutiva.</p>
	</div>

	
</section>

<style>
	img{
		width:  8em;
	}
	.body{
		width: 52rem;
		align-items: center;
		margin: 0.2rem;
		padding: 0.2rem;
		font-size: 1.2rem;
		font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	h2{
		font-size: 2em;
		font-family: monospace;
		padding: 0.2em;
		margin-bottom: 0.1rem;
	}
	ul{
		font-family: monospace;
		padding: 0.3rem;
		list-style-type: square;
	}

</style>